h1, h3 {
  display: flex;
  align-content: center;
  margin: auto;
  margin-left: 25vw;
  align-items: center;
}

h6 {
  color: rgb(207, 206, 206);
  display: flex;
  align-content: center;
  margin: auto;
  margin-left: 25vw;
  align-items: center;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  width: 30vw;
  /* max-width: 300px; */
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

form textarea {
  width: 40vw;
  max-width: 300px;
  min-width: 200px;
  margin: auto;
  margin-bottom: 30px;
}

input {
  display: flex;
  margin: auto;
  padding: 2px;
}

.aleatory-number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outputRandomNumers {
  border-radius: 8px 8px 8px 8px;
    width: 254px;
    display: flex;
    align-items: center;
    background: bisque;
    height: 60px;
}

.outputRandomNumers input {
  margin: 5px;
}

.outputNumberField {
  padding: 5px 10px;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  /* margin: 5px; */
  background: rgb(245, 167, 0);
  border-radius:  0 8px 8px 0;
}

.outputNumberField span {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 800;
  /* margin-left: 4px; */
}

.inputNumbers {
  margin: 10px;
}

.aleatory-number input[type=button] {
  color:azure;
  border-radius: 2px;
  border-style: none;
  margin: 3px auto;
  background: rgb(245, 167, 0) ;
}
