
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
    margin: 5vh 35vw;
    font-family: Ubuntu, Arial;
    background: #f0f0f5;
}

.page-home {
   
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    height: 100%;
    width: 30vw;
    border-radius: 50px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    
   }  


.page-home .Name{
     
    text-align: center;
    color: #f0f0f5;
    text-decoration-color: paleturquoise;

}


.photo-perfil img {
    float: right;
    margin-left: 10px;

       /*display: block;
 margin-left: auto;
    margin-right: auto;*/
    width: 35%;
       
    padding: 10px;
    border-radius: 30%;
    background: linear-gradient(180deg, #29B6D1 0%, #00C7C7 100%);    
}

.photo-perfil p {
    line-height: 20px;
    margin-right: 5px;
    margin-top: 0px;
    padding: 20px;
    text-align: justify;
    color: #f0f0f5;

}

.Index {

    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

.Index a {
    text-decoration: none;
    color: rgb(2, 72, 77);
    font-weight: 600;
    line-height: 25px;
    text-decoration-line: none;
}


.description {
    
    line-height: 20px;
    margin: 5px;
    margin-top: 0px;
    padding-top: 0;
    text-align: center;
    color: #f0f0f5;

}
.description p{
    float: left;
    margin-top: 5px;
}

.list {
    margin-left: 15%;
    margin-bottom: 0;
    font-size: 18px;
    color: #f0f0f5;
    font-style: italic;
   
}

.list span {
    font-weight: 900;
    font-size: 20px;
    
}


.li{
  
    text-decoration:  none;
}

.blogs h4{
    margin-top: 0;
    margin-left: 15%;
    margin-bottom: 8px;
    font-size: 18px;
    color: #f0f0f5;
}

.blogs a {
    margin-top: 30px;
    margin-left: 20% ;
    margin-bottom: 30px;
    color: #f0f0f5;
    text-decoration-line: none;

}

.base {

    display: flex;
    flex-direction: column;
    align-content: center;

    margin-top: 15px;
    padding: 0px;
    height:50px;
    width: 30vw;
    border-radius: 0 0  50px 50px;
    background-color: orange;
}

.footer {
    position: fixed;
    bottom: 50px;
    left: 30vw;
    text-align: right;


}

.footer a {  
        color: #29B6D1 ;
        background-color: #29B6D1 ;
        padding: 6px;
        border-radius: 50%;     
        text-decoration-line: none;

        transition: 500ms;
}

.footer a:hover {
    border-radius: 4px;
    color: red;
}
      

      
